<h2>Beast Mode Tracker</h2>
<h5>Track your activity, Identify which areas you work most and remind
  yourself not to skip leg day
</h5>
<h6>1. Click an activity to edit</h6>
<h6>2. Add a new activity</h6>
<h6>3. Get rid of old activities or ones that just didn't work out for you</h6>
<h6>In the works: Find workouts based on area, generate random workout for when you don't know what to work out
</h6>
  <div name="detail" *ngIf="selected !editActivity">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Date</th><th>Activity Name</th><th>Area Worked:</th><th>Sets</th><th>Reps</th><th>Video</th>
        </tr>
    </thead>
      <tbody>
      <tr>
      <td>{{selected.date}}</td>
      <td>{{selected.activityName}}</td>
      <td>{{selected.bodyPart}}</td>
      <td>{{selected.sets}}</td>
      <td>{{selected.reps}}</td>
      <td>Video: {{selected.video}}</td>
      </tr>

  </tbody></table>
      <button class="btn btn-primary btn-lg btn-success" (click)="displayTable()">Go Back</button><br>
      <button class="btn btn-primary btn-lg btn-info" (click)="setEditActivity();">Edit</button>
    </div>
  <div *ngIf="selected && editActivity">
    <form>
      <h3>Edit Activity:</h3>
      <h4>Activity Name:</h4>
      <input type="text" name="activityName" [(ngModel)]="editActivity.activityName" />
      <h4>Area Worked: </h4>
      <input type="text" name="bodyPart" [(ngModel)]="editActivity.bodyPart"  />
      <h4>Sets </h4>
      <input type="text" name="sets" [(ngModel)]="editActivity.sets" />
      <h4>Reps </h4>
      <input type="text" name="reps" [(ngModel)]="editActivity.reps" />
      <h4>Video </h4>
      <input type="text" name="reps" [(ngModel)]="editActivity.video" />
      <button type="submit" value="Cancel" (click)="editActivity = null && displayTable()">Cancel</button>
      <button type="submit" value="Save" (click)="updateActivity(editActivity)">Save</button>
  </form>
  </div>
  <div *ngIf="!selected">
  <table class="table table-striped table-hover" >
  <thead class="thead-dark"><tr><th>Id</th><th>Activity Name</th><th>Area Worked</th><th>Sets</th><th>Reps</th><th>Video</th><th></th></tr></thead>
  <tbody>
  <tr *ngFor="let act of activities"  >
      <td (click)="displayActivity(act)">{{act.id}}</td>
      <td (click)="displayActivity(act)">{{act.activityName}}</td>
      <td (click)="displayActivity(act)">{{act.bodyPart}}</td>
      <td (click)="displayActivity(act)">{{act.sets}}</td>
      <td >{{act.reps}}</td>
      <td>{{act.video}}</td>
      <td><button class="btn-danger"type="submit" value="destroy" (click)="deleteActivity(act.id)">Destroy</button></td>
        <!-- <td><button>Destroy</button></td> -->
    </tr>
  </tbody>
  </table>
  <form #activityForm="ngForm">
    <h3>Add a New Activity:</h3>
    <input type="text" name="activityName" [(ngModel)]="newActivity.activityName" placeholder="Activity Name"/>
    <input type="text" name="bodyPart" [(ngModel)]="newActivity.bodyPart" placeholder="Area Worked"/>
    <input type="text" name="sets" [(ngModel)]="newActivity.sets" placeholder="Sets"/>
    <input type="text" name="reps" [(ngModel)]="newActivity.reps" placeholder="Reps"/>
    <input type="text" name="video" [(ngModel)]="newActivity.video" placeholder="Video Url"/>
    <input type="submit" (click)="createActivity(activityForm)"/>
  </form>
  </div>

